/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 0px;
	padding-left: 0px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	overflow-x: hidden;
	text-align: center;
	scroll-behavior: smooth;
}

html {
	overflow-y: scroll;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1184px;
	border-color: black;
}

.container2 {
	max-width: 890px;
	text-align: center;
}





/*Styling*/

@import url(http://allfont.net/allfont.css?fonts=montserrat-bold);
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

nav {
	height: 104px !important;
}

.brand {
	margin-left: 20px;
}

.fixed-nav-bar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	background-color: white;
}

nav .btn {
	margin-right: 10px;
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	width: 145px;
	height: 38px;
	background-color: #8d80ab;
	border-color: #8d80ab;
}

nav .btn:hover {
	background-color: white;
	color: #8d80ab;
	border-color: #8d80ab;
}

nav .nav-link {
	margin-right: 29px;
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: rgba(99, 92, 115, 255);
	text-align: left;
	letter-spacing: 0.5px;
}

.navbar-light .navbar-nav .nav-link {
	color: rgba(99, 92, 115, 255);
}

.rounded {
	border-radius: 40px !important;
}

.banner {
	margin-top: 104px;
	background-size: cover;
	background-image: url('../img/img@1X.png');
	height: 800px;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.banner h1 {
	font-family: 'Montserrat Bold', arial;
	font-size: 60.15788pt;
	font-weight: 700;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	padding-top: 8.55%;
	letter-spacing: 2px;
}

.banner h2 {
	font-family: 'Lato', sans-serif;
	font-size: 22.00898pt;
	margin-top: 20px;
	color: rgba(141, 129, 172, 255);
	text-align: center;
}

.banner h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 11.73812pt;
	margin-top: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgba(132, 142, 151, 255);
	text-align: center;
}

.download {
	text-align: center;
}

.github .download button {
	display: inline-block;
	margin-top: -31px;
	background-color: #8d80ab;
	border-color: #8d80ab;
	font-family: 'Montserrat Bold', arial;
	font-weight: bolder;
	width: 390px;
	height: 62px;
	font-size: 15.40629pt;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	letter-spacing: 1px;
}

.github .download button:hover {
	background-color: white;
	color: #8d80ab;
	border-color: #8d80ab;
}

.github .download p {
	display: inline-block;
	margin-top: 16px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: rgba(132, 142, 151, 255);
	text-align: center;
}

.intro {
	text-align: center;
}

.github .intro h1 {
	margin-top: 64px;
	font-family: 'Montserrat Bold', arial;
	font-size: 39.61617pt;
	font-weight: 1000;
	color: rgba(99, 92, 115, 255);
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.github .intro h2 {
	margin: 0 auto;
	margin-top: 26px;
	font-family: 'Montserrat Bold', arial;
	font-size: 15pt;
	color: rgba(50, 50, 50, 255);
	line-height: 1.5;
}

.github .intro img {
	margin-top: 32px;
	display: inline-block;
	margin-bottom: 66px;
}

.coder {
	background-color: #f4f4f4;
	max-height: 711px;
}

.logo img {
	width: 151px;
	height: 41px;
}

.features {
	padding-top: 102px;
	padding-left: 40px;
}

.features #img1 {
	width: 111px;
	height: 64px;
}

.features #img2 {
	width: 90px;
	height: 80px;
}

.features #img3 {
	margin-top: -10px;
	width: 90px;
	height: 110px;
}

.features #img4 {
	width: 78px;
	height: 78px;
}

.features h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 11.73812pt;
	font-weight: bold;
	color: rgba(50, 50, 50, 255);
	text-align: left;
	letter-spacing: 1px;
}

.features p {
	margin-top: 12px;
	max-width: 366px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10.65pt;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: left;
	line-height: 1.5;
}

.features .col-12.feature2 {
	margin-top: 32px;
}

.features .col-12.feature3 {
	margin-top: 33px;
}

.features .col-12.feature4 {
	margin-top: 30px;
	margin-bottom: 69px;
}

.features .col-9 {
	flex: 0 0 78%;
	max-width: 78%;
}

.features .col {
	padding-right: 23px;
}

.features .feature2 .col{
	margin-left: -20px;
	padding-right: 25px;
}

.features .feature3 .col{
	margin-left: -20px;
	padding-right: 25px;
}
.features .feature4 .col{
	margin-left: -20px;
	padding-right: 25px;
}

.look {
	padding-top: 80px;
	margin-left: -15px;
}

.look h1 {
	font-family: 'Montserrat Bold', arial;
	font-size: 37.21437pt;
	font-weight: bolder;
	color: rgba(141, 129, 172, 255);
	text-align: left;
	letter-spacing: 1px;
}

.look img {
	margin-left: -22px;
	margin-top: 30px;
}

.slider {
	text-align: center;
	margin-top: 85px;
	max-width: 980px;
	display: inline-block;
}

.user {
	display: inline-block;
	margin: 0 0 0 12px;
	position: relative;
	vertical-align: middle;
}

.carousel-item img {
	width: 88px;
	height: 88px;
	border-radius: 50%;
	vertical-align: middle;
}

.carousel-inner {
	width: 61rem;
}

.carousel-item h3 {
	font-family: 'Montserrat Bold', arial;
	font-size: 24px;
	font-weight: bolder;
	color: rgba(99, 92, 115, 255);
	text-align: left;
}

.carousel-item h4 {
	margin-top: 5px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: rgba(141, 129, 172, 255);
	text-align: left;
}

.carousel-item h5 {
	padding-top: 40px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	color: rgba(0, 0, 0, 255);
	text-align: center;
	line-height: 1.6;
}

.carousel-item p {
	padding-top: 21px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: center;
}

.carousel-control-prev-icon {
	background-image: url("../img/arrows/Arrow\ L.svg");
	margin-top: 68px;
	margin-right: 130px;
}

.carousel-control-next-icon {
	background-image: url("../img/arrows/Arrow\ R.svg");
	margin-top: 68px;
	margin-left: 90px;
}

.under_carousel {
	margin-top: 56px;
	width: 66%;
	height: 1px;
	margin-bottom: 0px;
}

.block-frame {
	display: table;
	margin: 0 auto;
}

.social ul.cta-list {
	list-style: none;
	padding-top: 60px;
}

.social ul.cta-list li {
	display: inline-block;
}

.social .btn i {
	float: left;
	margin-top: 8px;
	margin-left: 15px;
}

.social .btn-default {
	padding-right: 40px;
	width: 240px;
	height: 50px;
	background-color: #F3F3F3;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: bold;
	font-stretch: ultra-expanded;
	color: rgba(0, 0, 0, 255);
	text-align: center;
}

.social .btn-info {
	padding-right: 40px;
	width: 240px;
	height: 50px;
	margin-left: 40px;
	margin-right: 40px;
	background-color: #26A6D2;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: bold;
	font-stretch: ultra-expanded;
	color: rgba(255, 255, 255, 255);
	text-align: center;
}

.social .btn-blue {
	padding-right: 40px;
	width: 240px;
	height: 50px;
	background-color: #3C5998;
	font-family: 'Montserrat', sans-serif;
	font-size: 21px;
	font-weight: bold;
	font-stretch: ultra-expanded;
	color: rgba(255, 255, 255, 255);
	text-align: center;
}

.social p {
	margin-top: 16px;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: center;
	letter-spacing: 0.5px;
}

/* news section */
.news {
	margin-top: 77px;
	background-size: cover;
	background-image: url("../img/img-decor-02.jpg"), url("../img/img-decor-03.jpg");
	background-blend-mode: lighten;
	height: 764px;
	background-position: center center;
	background-repeat: no-repeat;
}

.news .container {
	padding: 0 40px;
}

.news .heading {
	padding-top: 100px;
}

.news .heading h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 35.21437pt;
	font-weight: bolder;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	letter-spacing: 2px;
}

.news p {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	font-weight: bolder;
	font-style: italic;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	line-height: 1.5;
}

.news col-12 {
	text-align: center;
}

.news #item1 {
	margin-top: 93px;
}

.news #item1 p {
	margin: 29px auto 0;
	width: 326px;
}

.news #item2 {
	margin-top: 90px;
}

.news #item2 p {
	margin: 25px auto 0;
	width: 309px;
}

.news #item3 {
	margin-top: 83px;
}

.news #item3 p {
	margin: 18px auto 0;
	width: 317px;
}

.news #item4 {
	margin-top: 105px;
}

.news #item4 p {
	margin: 28px auto 0;
	width: 326px;
}

.news #item5 {
	margin-top: 100px;
}

.news #item5 p {
	margin: 24px auto 0;
	width: 326px;
}

.news #item6 {
	margin-top: 100px;
}

.news #item6 p {
	margin: 24px auto 0;
	width: 326px;
}

.news #item1 .row {
	margin-left: 1px;
}

.news #item4 .row {
	margin-left: 1px;
}


.hr {
	position: relative;
}

.newshr {
	width: 65%;
	height: 1px;
	border-color: rgba(255, 255, 255, 255);
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 80px;
}

/* price section */
.price {
	background-size: cover;
	background-image: url('../img/img-decor-03.jpg');
	height: 899px;
	background-position: center center;
	background-repeat: no-repeat;
	background-blend-mode: lighten;
}

.price .container {
	padding: 0 40px;
}

.price .heading {
	padding-top: 30px;
}

.price .heading h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 35.21437pt;
	font-weight: bolder;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	letter-spacing: 2px;
}

.price .row {
	margin-left: -25px;
	padding-top: 100px;
}

.price .first {
	padding-top: 45px;
	width: 257px;
	height: 97px;
	background-color: rgb(192, 192, 192, 0.5)
}

.price .second {
	padding-top: 30px;
	width: 257px;
	height: 360px;
	background-color: rgb(192, 192, 192, 0.2)
}

.price .card-body {
	transition: all 1s ease;
	transition-delay: 300ms;
	transition-timing-function: ease-out;
}

.price .card-body:hover {
	transform: scale(1.15);
}

.price .card-body:hover .first {
	transition: all 500ms ease;
	transition-delay: 100ms;
	background-color: rgba(5, 5, 5, 0.5);
	transition-timing-function: ease-out;
}

.price .card-body:hover .second {
	transition: all 500ms ease;
	transition-delay: 100ms;
	background-color: rgba(0, 0, 0, 0.2);
	transition-timing-function: ease-out;
}

.price h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 17.60719pt;
	font-weight: bold;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	text-transform: uppercase;
}

.price h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 50pt;
	font-weight: bolder;
	color: rgba(255, 255, 255, 255);
	text-align: center;
}

.price p.month {
	padding-top: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: rgba(255, 255, 255, 0.5);
	text-align: center;
	text-transform: uppercase;
}

.price hr {
	margin-top: 38px;
	width: 60px;
	border-width: 5px;
	border-color: rgba(255, 255, 255, 0.5);
}

.price p.type {
	padding-top: 12px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	line-height: 1.5;
}

.price .btn.purchase {
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	width: 160px;
	height: 42px;
	border-radius: 21px;
	background-color: rgba(255, 255, 255, 0.5);
	border-color: rgba(255, 255, 255, 0.5);
	text-transform: uppercase;
}

.price .info {
	padding-top: 112px;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: rgba(162, 145, 165, 255);
	text-align: center;
	line-height: 1.5;
}

/* email section */
.email {
	background-color: #F4F4F4;
	height: 134px;
}

.email h3 {
	padding: 55px 35px;
	font-family: 'Montserrat Bold', arial;
	font-size: 32px;
	font-weight: bolder;
	color: rgba(99, 92, 115, 255);
	text-align: left;
}

.email .button {
	padding-top: 46px;
}

.email input.email {
	margin-left: 20px;
	padding-left: 28px;
	width: 100%;
	max-width: 335px;
	height: 42px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	box-sizing: border-box;
	border-radius: 21px;
	border: none;
	background-color: white;
}

.email .btn {
	margin-left: 20px;
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: bolder;
	color: rgba(255, 255, 255, 255);
	text-align: center;
	width: 140px;
	height: 42px;
	background-color: #8d80ab;
	border-radius: 21px;
	border-color: #8d80ab;
	text-transform: uppercase;
}

.email .btn:hover {
	background-color: white;
	color: #8d80ab;
	border-color: #8d80ab;
}

.email input.email:focus {
	outline-width: 0;
}

.email input.email::placeholder {
	color: rgba(200, 203, 207, 255);
	opacity: 1;
}

/* links section */
.links .container {
	padding: 79px 0 68px 45px;
}

.links h2 {
	font-family: 'Montserrat Bold', arial;
	font-size: 28px;
	font-weight: bolder;
	color: rgba(211, 209, 218, 255);
	text-align: left;
	letter-spacing: 1px;
}

.links h4 {
	font-family: 'Montserrat', sans-serif;
	font-size: 11.73812pt;
	font-weight: bolder;
	font-stretch: ultra-expanded;
	color: rgba(50, 50, 50, 255);
	text-align: left;
	letter-spacing: 0.5px;
	line-height: 1.6;
}

.links p {
	font-family: 'Montserrat', sans-serif;
	font-size: 10pt;
	font-weight: 600;
	color: rgba(132, 142, 151, 255);
	text-align: left;
	line-height: 1.6;
}

.links #first {
	margin-right: -8px;
}

.links #second {
	margin-right: -8px;
}

.links .btn.linkbutton {
	width: max-content;
	background-color: #F4F4F4;
	font-family: 'Montserrat', sans-serif;
	font-size: 11.27086pt;
	font-weight: bold;
	color: rgba(141, 129, 172, 255);
	text-align: center;
}

.links .btn.linkbutton:hover {
	background-color: rgba(141, 129, 172, 255);
	color: #F4F4F4;
}

.links #second h4, .links #third h4{
	color: rgba(141, 129, 172, 255);
}

/* footer section */
.footer .container {
	padding: 0 0 70px 50px;
	text-align: left;
}

.footer .hr {
	margin: 0 auto;
	width: 1110px;
	height: 1px;
}

.footer p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: left;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

.footer h2 {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: rgba(50, 50, 50, 255);
	text-align: left;
	line-height: 1.5;
	letter-spacing: 1px;
}

.footer h1 {
	font-family: 'Montserrat Bold', sans-serif;
	font-size: 30px;
	font-weight: bolder;
	color: rgba(63, 63, 63, 255);
	text-align: left;
	line-height: 1.5;
	letter-spacing: 1.5px;
}

.footer li {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: rgba(141, 129, 172, 255);
	text-align: left;
	line-height: 1.5;
}

.footer li a{
	color: inherit;
}

.footer li a:hover { 
     text-decoration:none;   
}

.footer ul {
	padding-top: 18px;
}

.footer .first {
	padding-top: 65px;
}

.footer img {
	margin-left: 5px;
	margin-bottom: 20px;
	width: 151px;
	height: 41px;
}

.footer .second {
	padding-top: 62px;
	margin-left: 90px;
	margin-right: -90px;
}

.footer .third {
	padding-top: 58px;
}

.footer .third p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: left;
	line-height: 1.5;
}

.footer .third h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: left;
	line-height: 1.5;
}

.footer .fourth {
	margin-left: 5px;
	margin-right: -5px;
	padding-top: 62px;
}

.footer .fourth p {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(132, 142, 151, 255);
	text-align: left;
	line-height: 1.6;
	letter-spacing: 0.8px;
}

@-moz-document url-prefix() {
	.news br{
			display: none;
	}

	.news br:after {
		display: none;
	}
	h1, h2, h3, h4, h5, p {
		font-size-adjust:0.5;
	}
  }

/* media queries */

@media only screen and (max-width: 992px) {
	.container {
		max-width: 100%;
	}

	.coder {
		background-color: #f4f4f4;
		max-height: min-content;
	}

	#image_coder {
		overflow-x: hidden;
	}

	.look img {
		margin-left: 22px;
		margin-top: 15px;
	}

	.look h1 {
		margin-left: 22px;
	}

	.github .intro h1 {
		overflow-wrap: break-word;
	}

	.carousel-item {
		margin-left: 0px;
	}

	.carousel-item h5 {
		padding-top: 20px;
		padding-right: 0px;
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 15px;
		color: rgba(99, 92, 115, 255);
		text-align: center;
		line-height: 1.5;
	}

	.github .download button {
		display: inline-block;
		margin-top: -31px;
		background-color: #8d80ab;
		border-color: #8d80ab;
		font-family: 'Montserrat Bold', arial;
		font-weight: bolder;
		width: max-content;
		height: 62px;
		font-size: 15.40629pt;
		color: rgba(255, 255, 255, 255);
		text-align: center;
		letter-spacing: 1px;
	}

	.github .intro img {
		width: fit-content;
		margin-top: 32px;
		display: inline-block;
		margin-bottom: 66px;
	}

	nav {
		height: auto !important;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		/* optional */
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
		-webkit-align-items: flex-start;
		align-items: flex-start;
	}

	nav .navbar-toggler {
		-webkit-box-ordinal-group: 2;
		-moz-box-ordinal-group: 2;
		-ms-flex-order: 2;
		-webkit-order: 2;
		order: 2;
	}

	nav .form-inline.my-2.my-lg-0 {
		-webkit-box-ordinal-group: 1;
		-moz-box-ordinal-group: 1;
		-ms-flex-order: 1;
		-webkit-order: 1;
		order: 1;
	}

	.logo img {
		width: 100px;
		height: 30px;
	}

	/* to do correct those allignment */
	nav .btn {
		width: 100px;
		height: 35px;
		background-color: #8d80ab;
		border-color: #8d80ab;
		margin-right: 0px;
	}

	.brand {
		margin-left: 10px;
	}

	/* ------------------------- */

	.slider {
		max-width: 100%;
	}

	.email {
		height: auto;
	}

	.email h3 {
		padding-top: 20px;
		text-align: center;
	}

	.email .button {
		padding-top: 0;
		padding-bottom: 20px;
	}

	.carousel-inner {
		max-width: 90%;
		display: inline-block;
	}

	.carousel-control-prev-icon {
		margin-top: 300px;
		margin-right: 0px;
	}

	.carousel-control-next-icon {
		margin-top: 300px;
		margin-left: 0px;
	}

	.links #third {
		margin-top: 40px;
	}

	.banner {
		margin-top: 51px;
	}
}

@media only screen and (max-width: 1184px) {
	.container {
		max-width: 100%;
	}

	.news {
		height: auto;
	}

	.price {
		height: auto;
	}

	.list-group {
		display: inline-block;
	}

	.footer .hr {
		margin-right: 43%;
		width: 87.75%;
		height: 1px;
	}

	.coder .row {
		margin-right: 0px;
	}

	.coder .container {
		padding-right: 0px;
	}

	.links .row {
		margin-right: 0px;
	}

	.news .row2 .row {
		margin-right: 0px;
	}

	.footer .second {
		padding-top: 62px;
		margin-left: 0px;
		margin-right: -90px;
	}

	.footer .row {
		margin-right: 0px;
	}

	.footer .fourth {
		margin-right: 0px;
		padding-right: 40px;
	}

	.footer .first {
		padding-right: 20px;
	}

	.links h4 {
		padding-right: 25px;
	}

	.links p {
		padding-right: 25px;
	}

	br {
		content: ' ';
	}

	br:after {
		content: ' ';
	}
	.email input.email {
		max-width: 50%;
		margin-left: 0px;
	}

	.news #item1 .row {
		margin-left: 0px;
	}
	
	.news #item4 .row {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 890px) {
	.container2 {
		max-width: 100%;
		text-align: center;
	}
}

@media only screen and (max-width: 1200px) {
	.coder {
		background-color: #f4f4f4;
		max-height: min-content;
	}

	#image_coder {
		overflow-x: hidden;
	}

	.look img {
		margin-left: 22px;
		margin-top: 15px;
	}

	.look h1 {
		margin-left: 22px;
	}
	.news {
		height: auto;
	}

	.price {
		height: auto;
	}
	.list-group {
		display: inline-block;
	}
	.price .row {
		margin-left: -15px;
	}
	.news .row {
		margin-right: 0px;
		margin-left: 0px;
		padding-bottom: 20px;
	}
	.newshr {
		top: 0px;
	}
	.features .feature2 .col{
		margin-left: 0px;
	}
	
	.features .feature3 .col{
		margin-left: 0px;
	}
	.features .feature4 .col{
		margin-left: 0px;
	}
	.features h4 {
		text-align: center;
		max-width: 95%;
	}

	.features p {
		text-align: center;
		max-width: 95%;
	}
	.news #item1 p {
		width: 90%
	}
	.news #item2 p {
		width: 90%
	}
	.news #item3 p {
		width: 90%
	}
	.news #item4 p {
		width: 90%
	}
	.news #item5 p {
		width: 90%
	}
	.price .info {
		padding-bottom: 30px;
	}
}

@media only screen and (max-width: 768px) {
	.news .row {
		margin-right: 0px;
		margin-left: 0px;
		padding-bottom: 20px;
	}

	.price .info {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.features h4 {
		text-align: center;
		max-width: 95%;
	}

	.features p {
		text-align: center;
		max-width: 95%;
	}

	.email input.email {
		max-width: 90%;
		margin-left: 0px;
	}

	.email .btn {
		margin-top: 15px;
	}

	.links #third {
		margin-top: 40px;
	}

	.newshr {
		top: 0px;
	}

	.price .heading {
		padding-top: 60px;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: .0px;
		padding-left: 0px;
	}
	nav .nav-link {
		margin-right: 20px;
		font-size: 14px;
	}
	.github .download button {
		width: 70vw;
		font-size: 4vw;
		height: 7vh;
	}
	.email .btn {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 576px) {
	.features .col-9 {
		flex: 0 0 100%;
		max-width: 100%;
	}

	.features h4 {
		margin-top: 20px;
		text-align: center;
	}

	.features p {
		margin-top: 12px;
		text-align: center;
	}

	.features .col {
		padding-right: 0px;
	}

	.news .row {
		margin-left: 0px;
		padding-bottom: 20px;
	}

	.newshr {
		top: 0px;
	}

	.price .heading {
		padding-top: 60px;
	}

	.news #item1 p {
		width: 100%;
	}

	.news #item2 p {
		width: 100%;
	}

	.news #item3 p {
		width: 100%;
	}

	.news #item4 p {
		width: 100%;
	}

	.news #item5 p {
		width: 100%;
	}

	.news #item6 p {
		width: 100%;
	}

	.links #second {
		margin-top: 40px;
	}
	.github .intro h1{
		font-size: 9vw;
	}
	.github .intro h2{
		font-size: 5vw;
	}
	.banner h1 {
		font-size: 20vw;
	}
	.banner h2 {
		font-size: 8vw;
	}
	.banner h3 {
		font-size: 4vw;
	}
}

@media only screen and (max-width: 845px) {
	.social p {
		margin-bottom: 10px;
	}
}

@media only screen and (max-width: 350px) {
	.price .heading h2 {
		font-size: 31pt;
	}

	.price .container {
		padding: 0px;
	}

	.email input.email {
		margin: 0 auto;
	}

	.price .row {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media only screen and (max-width: 1200px) {
	.coder {
		background-color: #f4f4f4;
	}

	#image_coder {
		overflow-x: hidden;
	}
}

@media only screen and (min-width: 1200px) {
	.coder {
		background-color: #f4f4f4;
	}
}

/* scrollbar styling */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-color: #F5F5F5;
	border-radius: 10px;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef),
			to(#fecfef));
	background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
	background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
}

/*Preloader*/
body.preloader-site {
	overflow: hidden;
}

.preloader-wrapper {
	height: 100%;
	width: 100%;
	background: #FFF;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999999;
}

.preloader-wrapper .preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 120px;
}